{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="home-content" style="text-align: center;">
    <h2>WELCOME TO BOOK HAVEN</h2>
    <br>
    <h3>Where Every Page Sparks Adventure!</h3>
    <br>
    <p>
        This is a library website where the administrator can add, delete, and update the books, users, and librarians.
    </p>
    <br>
    <p>
        The users can see their details, books, librarians, what books they borrow and return.
    </p>
</section>


{% endblock %}